
.header {
    font-family: "Bogle-Regular";
    .title {
        text-align: center;
    }
}

.container{
    width:"100%";
    text-align: center;
    display: block !important;
    padding: 40px;
    p {
        font-family: "Bogle-Regular";
        font-size: 17px;
    }

    ion-input{
        border-bottom: 2px solid rgb(0,112,206) !important;
        ::placeholder { color: rgb(0,112,206)}
    }


    .button-action {
        width: 100%;
        margin-top: 30px;
        .button-action{
            border-radius: 20px ;
        }
    }
    .cantidad{
        font-size: 70px;
        font-weight: 600
    }

    .comentario{
        margin-top: 80px;
        text-align: initial;
        color: rgb(43,137,214);
    }
}