
<ion-header class="header">
  <ion-toolbar>
    <ion-title class="title">
      Confirmar transferencia
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding text-center>
  <ion-text color="dark" style="padding:40px">
    <h3 *ngIf="transactionInfo">Vas a transferir {{transactionInfo.amount}} de tus pesos mi club a {{transactionInfo.to.name}}, queremos que confirmes esta operacioón para ser todos felices disfrutando junto a Mi Club</h3>
    <h3 *ngIf="!transactionInfo">No hay información de la transacción</h3>
  </ion-text>
  <ion-button ion-button color="danger" *ngIf="transactionInfo"  routerLink="/home" routerDirection="forward">Confirmar</ion-button>
</ion-content>
